# -*- mode: snippet -*-
#contributor : Jacek Wysocki <jacek.wysocki@gmail.com>
#name : symfony2 based class template
#key : namespace
#group : definitions
# --
`(progn (save-buffer) (php-symfony2-generate-namespace))`
$0