*~
*.elc
session.*
.#*
/ac-comphist.dat
var/*
snippets/js2-mode/*
snippets/js3-mode/*
*(*conflicted*)*
geben/*
/projectile-bookmarks.eld
/projectile.cache
.yas-compiled-snippets.el
/selenium.log
/elpa/archives/org-mode/archive-contents
/org-clock-save.el
