*~
*.elc
session.*
.#*
/ac-comphist.dat
var/*
snippets/js3-mode/*
*(*conflicted*)*
geben/*
/projectile-bookmarks.eld
/projectile.cache
.yas-compiled-snippets.el
/selenium.log
/elpa/archives/org-mode/archive-contents
/org-clock-save.el
TAGS
image-dired/
*(Kopia powoduj*)*
vendor/
url/
/varplaces
eshell/
/tramp
/twittering-mode.gpg
/.mc-lists.el
/ido.last
/.cask/
/.python-environments/
/sql/mysql-history.sql
